<app-header></app-header>
<div class="parent-box small-margin-top">
    <app-navigation></app-navigation>
    <div class="container">
        <h1 class='online myh1'>Уведомления</h1>
        <h1 *ngIf='notifications.length == 0' class="myh1 empty m4"> Пусто</h1>
        <ul class="notifications">
            <li *ngFor="let notification of notifications" [class.notReaded]="!notification.isReaded">
                <div class="small-padding-left">
                <span>{{notification.date | date:' dd.MM.yy H:mm'}}</span>
                <p>Организация: {{notification.organization.name}}<br />
                    Команда: {{notification.team.name}} <br />
                    Задача: "{{notification.task.name}}" <br />
                    <span *ngIf="notification.phase=='left10'">Крайний срок задачи подходит к концу</span>
                    <span *ngIf="notification.phase=='expired'">Время выполнения задачи истекло</span><br/>
                    <span *ngIf='notification.remains'>Оставшееся время (дней: {{notification.remains.days}} часов: {{notification.remains.hours}} минут: {{notification.remains.minutes}})</span><br />
                </p>
            </div>
                <div class="line"></div>
            </li>
        </ul>
    </div>
</div>