.tasks{
        background-color: #fff;
}

.name{
    width: 70%;
}

.date{
    text-align: right;
    width: 30%;
}

.myh1{
    color: white;
}

.circle{
    border-radius: 100px;
    height: 1em;
    width: 1em;
    margin-right: 4%;
}

.green{
    background-color: #85e709;
  }
  
  .red{
    background-color: #f8049f;
  }
  
  .orange{
    background-color: #d6f200;
  }

  .task{
      padding-left: 4%;
  }
