<header *ngIf="user" class="header">
    <div class="blockhead">
        <div class='logo'>
            <img src="../../assets/icons8-w-в-круге-50.png" alt='логотип' />
            <img src="../../assets/Inwork.png" alt='логотип' />
        </div>
        <div class="info">
            <div class="user">
        <h1>{{user.name}} {{user.surname}}</h1>
        <h2 *ngIf="organization" class='organization'>{{organization.name}}</h2>
    </div>
        <div class='avatar'><img *ngIf='user.avatarBuffer' [src]="user.avatarBuffer" class="avatar rounding" alt="avatar"></div>
    </div>
    </div>
</header>