<div class="container">
<form [formGroup]="checkoutForm" (ngSubmit)="onLogin()">
    <div>
        <label for="login">
          Логин
        </label>
        <input id="login" type="text" formControlName="login">
      </div>
    
      <div class="m4">
        <label for="password">
          Пароль
        </label>
        <input id="password" type="password" formControlName="password">
      </div>
      <div class="m4"><span class="question">У вас еще нет аккаунта?</span> <a routerLink="/signup"  class="registration"><b>Зарегистрироваться</b></a></div>
    <button class="signin" type="submit"><b>Войти</b></button>
  </form>
 
</div>

