.registration{
    border: 0;
    width: 140px;
    height: 0px;
}

.container{
    width: 300px;
    height: 270px;
    top:220px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

button{
    height: 37px;
    width: 130px;
    font-size: 22px;
}

.signin{
    border-radius: 10px;
    font: bold;
    color: #01d5ff;
    background-color: #535353;
    width: 7em;
    margin-top: 20px;
    margin-left: 15%;
  }