<div class="container">
<form [formGroup]="checkoutForm" (ngSubmit)="onLogin()">
    <div>
        <label for="login">
          Логин
        </label>
        <input id="login" type="text" formControlName="login">
      </div>
    
      <div>
        <label for="password">
          Пароль
        </label>
        <input id="password" type="text" formControlName="password">
      </div>

    <button class="signin" type="submit"><b>Войти</b></button>
  </form>
  <div><span>У вас еще нет аккаунта?</span> <a routerLink="/signup"  class="registration"><b>Зарегистрироваться</b></a></div>
</div>

