.registration{
    border: 0;
    width: 140px;
    height: 0px;
}

.container{
    width: 300px;
    height: 200px;
    left: 500px;
    top:220px;
    position: absolute;
    padding: 30px;
}

button{
    height: 37px;
    width: 130px;
    font-size: 22px;
}