<div *ngIf='!fncGetUsers'>
  
  <h1 class="myh1" *ngIf="organization._id != ''">Работники организации: {{organization.name}}</h1>
  <ul class="employees">
    <div *ngFor="let link of organizationUserLinks">
      <li *ngIf="link.user._id != currentUserId" [class.selected]="selectedWorkers.indexOf(link) != -1"
        (click)="onSelectWorker(link)">
        <p>
        <img src='{{link.organization.avatar}}' alt='avatar'>
        {{link.user.name}} {{link.user.surname}} <br/>
        Должность: {{link.position}}
    </p>
      </li>
    </div>
  </ul>
</div>

<div *ngIf='fncGetUsers'>
  <ul class="users">
    <div *ngFor="let user of users">
      <li [class.selected]="selectedUsers.indexOf(user) != -1" (click)="onSelectUser(user)">
         {{user.name}} {{user.surname}}
      </li>
    </div>
  </ul>
</div>