Работники организации:
<span *ngIf="organization._id != ''">{{organization.name}}</span>
<ul class="employees">
    <div *ngFor="let link of organizationUserLinks">
        <li *ngIf="link.user._id != currentUserId"
        [class.selected]="selectedWorkers.indexOf(link) != -1"
        (click)="onSelect(link)"
        >
        <img src='{{link.organization.avatar}}' alt = 'avatar'>  
        <span> {{link.user.name}} {{link.user.surname}} </span> 
          <div><span> position: {{link.position}}</span> </div>            
        </li>
    </div>
      </ul>