<app-header></app-header>
<div class="parent-box small-margin-top">
    <app-navigation></app-navigation>
    <div class="container">
        <h1 class="myh1 online">Участники группы {{group.name}}</h1>
        <button (click)='openAddUserForm()' *ngIf=!group.isOpen>Добавить участника</button>
        <ul class="employees">
            <div *ngFor="let link of links">
                <li>
                    <h3> {{$any(link).user.name}} {{$any(link).user.surname}} </h3>
                    <h4> {{link.roleUser}} </h4>
                </li>
            </div>
        </ul>
    </div>
</div>