
<div class="padding4">
<form [formGroup]="taskForm" class="small-padding-left small-padding-right" (ngSubmit)="onCreate()">
  <h1 class='myh1'>Добавление задачи в статус "{{status.name}}"</h1>
    <div>
        <label for="name">
          Название задачи
        </label>
        <br/>
        <input id="name" type="text" formControlName="name">
      </div>
    
      <div>
        <label for="description">
          Описание
        </label>
        <br/>
        <textarea id="description" type="text" formControlName="description"></textarea>
      </div>

      <div>
      <div ngbDropdown class="d-inline-block">
        <input *ngIf='false' id="deadline" class="form-control" type="text" formControlName="deadline" >
        <button class="btn btn-outline-primary" type='button' id="dropdownBasic1" ngbDropdownToggle>{{currentColor.viewValue}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngFor="let color of colors; index as i;"  class="combobox" (click)="changeColor(i)" type='button' ngbDropdownItem>
            {{color.viewValue}}
          </button>
        </div>
      </div>
    </div>


      <div class="input-group" *ngIf="deadlineVisible">
        <label for="deadline">
            Крайний срок
          </label>
        <input id="deadline" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" formControlName="deadline">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>

    <button class="button" type="submit">Создать задачу</button>
  </form>
  </div>
  