.image-post{
    height: 200px;
    width: 100px;
}

.container{
    margin-left: 10%;
    max-width: 40%;
}

.avatar {
        width: 200px;
        height: 300px;
}

.posts{
    background-color: white;
}