.organizations{
    background-color: #fff;
}

.parentt-box{
    
    align-items: center;
}

.select{
    margin-left: auto;
    margin-right: 0em;
}

.line{
    background-color: black;
    height: 5px;
}