<h1 class="myh1 online">Ваши организации:</h1>
<ul class="organizations">
  <li *ngFor="let link of organizationUserLinks">
    <div class="parent-box small-padding-left">
      <div>
        <h1 class="myh1"> {{link.organization.name}} </h1>
        <p> Ваша должность: {{link.position}} <br/>
         Ваш статус:
          <span *ngIf="link.roleUser=='superUser'">Создатель организаци</span>
          <span *ngIf="link.roleUser=='user'">Работник</span><br/>
        {{link.organization.description}}</p>
      </div>
      <div class='select'>
        <button (click)="onSelect(link.organization)">Выбрать</button>
      </div>
    </div>
    <div class="line"></div>
  </li>
</ul>