.employees{
    background-color:#fff;
    display: inline-block;
}

.online{
    color: #01d5ff;
  }

.line{
    background-color: black;
    height: 5px;
}

h3{
    background-color: white;
}

.em{
    color: white;
}

ul{
    color: black;
}