<form [formGroup]="registrForm" (ngSubmit)="onRegistr()">
    <div>
        <label for="login">
          Login
        </label>
        <input id="login" type="text" formControlName="login">
      </div>
    
      <div>
        <label for="password">
          Password
        </label>
        <input id="password" type="text" formControlName="password">
      </div>

      <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div>
        <label for="surname">
          Surname
        </label>
        <input id="surname" type="text" formControlName="surname">
      </div>

      <div>
        <label for="email">
          Email
        </label>
        <input id="email" type="text" formControlName="email">
      </div>

    <button class="button" type="submit">Зарегистрироваться</button>
  
  </form>