<form [formGroup]="taskForm" (ngSubmit)="onSave()">
    <div>
        <label for="name">
            Название задачи
        </label>
        <input id="name" type="text" formControlName="name" >
    </div>

    <div>
        <label for="description">
            Описание
        </label>
        <textarea id="description" type="text" formControlName="description" ></textarea>>
    </div>

          <div ngbDropdown class="d-inline-block">
            <input *ngIf='false' id="deadline" class="form-control" type="text" formControlName="deadline" >
            <button class="btn btn-outline-primary" type='button' id="dropdownBasic1" ngbDropdownToggle>{{currentColor.viewValue}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let color of colors; index as i;"  class="combobox" (click)="changeColor(i)" type='button' ngbDropdownItem>
                {{color.viewValue}}
              </button>
            </div>
          </div>

    <div class="input-group" *ngIf="deadlineVisible">
        <label for="deadline">
            Крайний срок
        </label>
        <input id="deadline" class="form-control" type="text" formControlName="deadline" >
    </div>

    <div>
        <label for="answer">
            Ответ
        </label>
        <textarea id="answer" type="answer" formControlName="answer" ></textarea>
    </div>
    <div *ngIf='!isVisibleArrayAddedUsers' class='executors'>
        <button class="button" type="button" (click)="addUsers()" *ngIf='!isDisableEdit'>Назначить исполнителей</button>
        <ul > Исполнители
            <li *ngFor="let user of $any(task.users)"  [class.selected]="deletedUsers.indexOf(user) != -1"> 
                {{user.name}} {{user.surname}}
                <button (click)='deleteUser(user)' type='button'><img src="../../../../../assets/deleteicon.png" height='20px' width='20px' alt="Удалить"></button>
            </li>
        </ul>
    </div>
    <div *ngIf='isVisibleArrayAddedUsers' class='newexecutors'>
        <app-list-workers [fncGetUnwantedUsers]='fncUsersFromTask' [fncGetUsers]='fncUsersFromTeam' (arrayUsers)="getArrayUsers($event)"></app-list-workers>
        <button class="button" type="button" (click)="swith()">Добавить</button>
    </div>
    <button *ngIf='!isDisableEdit && !isVisibleArrayAddedUsers' class="button" type="submit">Сохранить</button>
</form>