<app-header></app-header>
<app-navigation></app-navigation>

<div id="app" class="container">
    <div class='chatName'><h1>{{chat.name}}</h1></div>
    <button (click)='onAddUsersToChat()'> Добавить сотрудников в чат</button>
    <button (click)='onUsersFromChat()'> Участники</button>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            <br>
            <div id="status"></div>
            <div id="chat">
                <br>
                <div class="card">
                    <div id="messages" class="card-block">
                        <ul>
                            <li *ngFor="let message of messages">
                                <div class="author"> {{message.user.surname}} {{message.user.name}}</div>
                                <span class='date'>{{message.date  | date:'short'}}</span>
                                {{ message.text }}
                            </li>
                        </ul>
                    </div>
                </div>
                <form [formGroup]="msgForm" (ngSubmit)="sendMessage()">
                    <label>
                      <input type="text" formControlName="text" required>
                    </label>
                    <button type="submit" class="btn send" [disabled]="!msgForm.valid">Отправить</button>
                  </form>
            </div>
        </div>
    </div>
</div>