<app-header></app-header>
<div class="parent-box">
<app-navigation></app-navigation>

<div id="app" class="container">
    <h1 class='myH1 online'>{{chat.name}}</h1>
    <button (click)='onAddUsersToChat()'> Добавить сотрудников в чат</button>
    <button (click)='onUsersFromChat()'> Участники</button>
    <div class="row chat">
            <br>
            <div id="status"></div>
            <div id="chat">
                <br>
                <div class="card">
                    <div id="messages" class="card-block">
                        <ul>
                            <li *ngFor="let message of messages">
                                <div class="sender"> {{message.user.surname}} {{message.user.name}}</div>
                                <span class='date'>{{message.date  | date:' dd.MM.yy H:mm'}}</span>
                                {{ message.text }}
                            </li>
                        </ul>
                    </div>
                </div>
                <form [formGroup]="msgForm" (ngSubmit)="sendMessage()"  class='textar'>
                      <textarea type="text" formControlName="text" required class='textar'></textarea>
           
                    <button type="submit" class="btn send" [disabled]="!msgForm.valid">Отправить</button>
                  </form>
        </div>
    </div>
</div>
</div>