#messages{
    height:300px;
    overflow-y: scroll;
}


.author{
    color: black;
}


.send{
    text-align: center;
    width: 100%;
}

.btn{
    background-color: whitesmoke;
    width: 40%;
}

textarea{
    margin-top: 1em;
    width: 99%;
}

.textar{
    
  
}


.container{
    margin-left: 10%;
    max-width: 40%;
}

#chat{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.chat{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
