#messages{
    height:300px;
    overflow-y: scroll;
}

#app {
    margin-top: 2rem;
}

.author{
    color: black;
}


.send{
    background-color: white;
    
}

.textar{
    width: 99%;
}


.container{
    margin-left: 10%;
    max-width: 40%;
}

#chat{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.chat{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
