<app-header></app-header>
<div class="parent-box small-margin-top">
<app-navigation></app-navigation>

<div id="app" class="container">
    <div *ngIf='!chat.isPrivate'>
    <h1 class='myh1 online'>Чат: {{chat.name}}</h1>
    <button (click)='onAddUsersToChat()'> Добавить сотрудников в чат</button>
    <button (click)='onUsersFromChat()'> Участники</button>
    </div>
    <div *ngIf='chat.isPrivate'>
        <h1 class='myh1 online'> {{chat.name}}</h1>
    </div>
    <div class="row chat">
            <br>
            <div id="status"></div>
            <div id="chat">
                <br>
                <div class="card">
                    <div id="messages" class="card-block">
                        <ul>
                            <li *ngFor="let message of messages">
                                <div class="sender"> {{message.user.surname}} {{message.user.name}}</div>
                                <span class='date'>{{message.date  | date:' dd.MM.yy H:mm'}}: </span>
                                {{ message.text }}
                            </li>
                        </ul>
                    </div>
                </div>
                <form [formGroup]="msgForm" (ngSubmit)="sendMessage()">
                      <textarea type="text" formControlName="text" required class='textar'></textarea>
           <div class="send">
                    <button type="submit" class="btn" [disabled]="!msgForm.valid">Отправить</button></div>
                  </form>
        </div>
    </div>
</div>
</div>