/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
.myh1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
h2, h3 {
  font-family: Arial, Helvetica, sans-serif;

}

app-navigation{
  margin-left: 10%;
  box-sizing: border-box;
}

body, input[type="text"] {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

body, html{
  width: 100%;
  height: 100%;
  color: #fff;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("./assets/background.png");
  background-attachment:fixed;
  background-size: cover;
  left: 0px;
  top: 0px;
  //z-index: 2;
}

.parent-box{
  display: inline-flex;
  width: 100%;
}

div {
  box-sizing: border-box;
}

.inline-box{
  display: inline-block;
}

.inline{
  display: inline;
}

.line{
  background-color: black;
  height: 5px;
}
// button{
//     background-color: #535353;
//     color: #01d5ff;
//     font:Myriad Pro;
//     width: 254px;
//     height: 56px;
//     z-index: 20;
//     font-size: 8pt;
//     font-family: "Myriad Pro";
//     border-radius: 10px;
    
// }
.online{
  color: #01d5ff;
}

label{
  color: #b1aeae;
}

.avatar-average{
  width: 200px;
  height: 300px;
}

.avatar-mini{
  width: 53px;
  height: 53px;
}

.item-center{
  align-items: center;
}

.item-top{
  align-items: flex-start;
}

.padding4{
  padding: 4%;
}

input{
  background-color: #ececec;
}

.container{
background-color: #2a2d2e;
padding-top: 1em;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

li {
  list-style-type: none; /* Убираем маркеры */
 }
 ul {
  padding-left: 0; /* Сдвигаем список влево */
 }

 .sender{
  color: blue;
  font-weight: bold;
}

.small-padding-left{
 padding-left: 4%;
}

.small-padding-right{
  padding-right: 4%;
 }

.container{
  margin-left: 10%;
  max-width: 40%;
}

.small-margin-top{
  margin-top: 2rem;
}

.rounding{
  border-radius: 100px; /* Радиус скругления */
  border: 3px solid; /* Параметры рамки */
  box-shadow: 0 0 7px #666; /* Параметры тени */
}

.flex-start{
  align-items: flex-start;
}

li{
  padding: 2px;
}