.container{
    width: 1300px;
    height: 1000px;
    left: 300px;
    top:75px;
    position: absolute;
    padding: 30px;
}

.statistic {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 934px;
    color: black;
    background-color: #acb5b8;
  }

  th{
    width: 400px;
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
  }

  td{
    vertical-align: top;
    height: 800px;
    border-right: 3px solid #000;
  }

  tbody {
  height: 1000px;
  }

  app-context-menu {
    width: 300px;
  background: #2d2d2d;
  color: #fff;
  padding: 15px;
}

.task{
  width: 200px;
  .name{
    color: #000;
  }
  .user{
    color: #000;
  }
  text-align: center;
  margin-top: 15px;
  height: 150px;
}

.green{
  background-color: #85e709;
}

.line{
  background-color: black;
  height: 5px;
}

.red{
  background-color: #f8049f;
}

.orange{
  background-color: #d6f200;
}