<div class="big-table">
    <table class="statistic">
        <thead>
            <tr>
                <th *ngFor="let status of statuses" (contextmenu)="displayContextMenuOnStatus($event,status); false">
                    {{status.name}}
                    <app-context-menu *ngIf="rightClickMenuItems.length > 0 && isDisplayContextMenu"
                        [ngStyle]="getRightClickMenuStyle()" [contextMenuItems]="rightClickMenuItems"
                        (onContextMenuItemClick)="handleMenuItemClick($event)"></app-context-menu>
                </th>
            </tr>
        </thead>
        <tbody>
            <td *ngFor="let status of statuses; let i = index" >
                <div *ngFor="let task of tasks">
                    <div class='task' *ngIf="comparePosition(i,task.status)"
                    [class.green] = "task.color == 'green'"
                    [class.orange] = "task.color == 'orange'"
                    [class.red] = "task.color == 'red'"
                    (dblclick)="openModalUpdateTask(task)"
                    (contextmenu)="displayContextMenuOnTask($event,task); false"
                    >
                        <b class='name'>  {{task.name}}</b>
                        <p class='date' *ngIf="task.deadline"> {{task.deadline | date:'dd.MM.yyyy H:mm'}}</p>
                        <div class="line"></div>
                        <div class='user' *ngFor="let user of $any(task.users)"> {{user.surname}} {{user.name}}</div>
                        <app-context-menu *ngIf="rightClickMenuItems.length > 0 && isDisplayContextMenu"
                            [ngStyle]="getRightClickMenuStyle()" [contextMenuItems]="rightClickMenuItems"
                            (onContextMenuItemClick)="handleMenuItemClick($event)"></app-context-menu>
                    </div>
                </div>
            </td>
        </tbody>
    </table>
</div>