.parent-box{
    margin-left: 0%;
    margin-top: 1.5em;
}

img{
    width: 200px;
}
.avatar{
    width: 200px;
}
.info{
    margin-left: 5%;
    color: #fff;
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.2em;
    }
}

.online{
    color: #01d5ff;
}

.container{
    width: 100%;
}

button{
    margin-top: 5%;
}