<div class="parent-box">
  <div class="avatar">
    <div *ngIf='user'>
    <img *ngIf='user.avatarBuffer' [src]="user.avatarBuffer" class="avatar" alt="avatar">
    </div>
    <div class='actions'>
    <button *ngIf='checkCurretUser()'>Редактировать</button>
    <button *ngIf='!checkCurretUser()'>Создать чат</button>
  </div>
  </div>

  <div class="info">
    <div *ngIf="user">
      <h1>{{user.surname}} {{user.name}} {{user.patronymic}}</h1>
      <h2 *ngIf="user && user.status" [class.online]="user.status=='online'">{{user.status}}</h2>
      номер телефона: {{user.telephone}} <br />
      дата рождения: {{user.birthdate | date:'dd.MM.yyyy '}}<br />
    </div>
    <div>
    <span>Организация</span> --- <span>Должность:</span>
    <ul class="listOrganizations">
      <li *ngFor="let link of organizationUserLinks">
        <span>{{link.organization.name}}</span> --- <span>{{link.position}}</span>
      </li>
    </ul>
  </div>
  </div>
</div>